<%= params[:number].inspect %>

<p>The latest events:
  <ul>
  <% @events.each do |e|%>
    <li>
      <%= e.name %>
    </li>
  <% end %>
  </ul>
</p>
<%#= link_to 'latest 5', latest_events_path, :number => 2 %>
<%= link_to 'back to events', events_path %>